.banner {
background-position: center;
padding: 184px 0px 120px 0px;
}

.container {
margin: 10px;
}

.banner h1 {
color: white;
text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}

.banner p {
color: white;
font-size: 20px;
opacity: 0.8;
text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}

.btn-green {
background-color: #69de89;
padding: 16px 36px;
border-radius: 50px;
color: white;
display: inline-block;
}
